<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xian.mapper.FloorMapper">
    <select id="searchFloor" parameterType="com.xian.pojo.Floor" resultType="com.xian.pojo.Floor">
        select * from tb_build
        <where>
            <if test="b_num!=null">
                and b_num = #{b_num}
            </if>
        </where>
    </select>
</mapper>